{% extends 'base.html' %}

{% block content %}
<div class="shadow-lg mt-5 ml card form-container">
<form action="{{ url_for('register') }}" method="post">

    <div style="color: brown;">
      {{ msg }}
    </div>

    <h2 class="mt-3 mb-3 ms-5">Register</h2>
    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/>
    <br>
    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/>
    <br>
    <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/>
    <br>
    <input type="submit" class="btn btn-primary mt-3" value="Sign Up">
    <br>
  </form>

  <p class="ms-3 mt-5">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>

{% endblock content %}